*.*~
*.bak
*.swo
*.swp
.*.swo
.*.swp
.DS_Store
.LCK*
.geanyprj
.idea
.sass-cache
config/config.custom.yml
config/paypal.yml
config/database.yml
coverage/*
db/*.sqlite3
db/*.sqlite3-journal
db/development_structure.sql
files/*
log/*
mkmf.log
nbproject
public/javascripts/all.js
public/fake_http_interactions
public/system/*
rerun.txt
spec/spec.html
Thumbs.db
tmp/*
.bundle
*.links
*.lnk

